*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.displayClass{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    @extend .displayClass;
    background-image: linear-gradient(rgb(80, 59, 80), rgb(24, 23, 23));
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}
.area__email{
    @extend .displayClass;
    
}
.input__email{
    width: 250px;
    height: 25px;
    margin: 2rem 0;
    border-radius: 5px;
    outline: none;
    padding: 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}